<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>EXchange - Votre plateforme d'échange</title>
<link rel="stylesheet" type="text/css"
	href="./css/barreNavigation/normalize.css" />
<link rel="stylesheet" type="text/css"
	href="./css/barreNavigation/demo.css" />
<link rel="stylesheet" type="text/css"
	href="./css/barreNavigation/component.css" />

<script src="js/angular.min.js"></script>


<link rel="stylesheet" type="text/css" href="./css/style2.css">
<link rel="stylesheet" type="text/css" href="./css/style.css">
<link rel="stylesheet" type="text/css" href="./css/popup.css">
<link rel="stylesheet" type="text/css" href="./css/demo.css" />
<!-- Add jQuery library -->
<script type="text/javascript"
	src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.bootstrap-growl.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="./css/style_perso.css" />

<script src="js/barreNavigation/modernizr.custom.js"></script>
 <script src="js/app.js"></script>
<link
	href='http://fonts.googleapis.com/css?family=Economica:700,400italic'
	rel='stylesheet' type='text/css'>
<noscript>
	<link rel="stylesheet" type="text/css" href="./css/nojs.css" />
</noscript>
</head>
<body ng-app="flapperNews" ng-controller="MainCtrl">	
	<div class="globalwrapper">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger"><a
					class="gn-icon gn-icon-menu right-border"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="index.html"
									class="gn-icon gn-icon-cog">Accueil</a></li>
								<li><a href="Annuaire.html"
									class="gn-icon gn-icon-article">Annuaire</a></li>
							</ul>
						</div>
					</nav></li>
						<li class="item_logo"><a href="./index.html"><img
						src="./images/logo.png" class="logo_moveon"></a></li>
				<li><form action="annuaire_filled.html" method="get"><input type="text" placeholder="Search" class="search-input" /></form> <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/></li>
				<li class="item_photo"><img src="./images/profile_example.png"
					 class="photo_invite" alt="Photo exemple"></li>
			</ul>
		</div>
	<ul id="breadcrumbs-two">
		<li><a href="index.html">Accueil</a></li>
	    <li><a href="forum.html">Canada</a></li>
	    <li><a href="">Comment trouver un logement à Montreal?</a></li> 
	</ul>
	 <div class="page-header">
	 	<div class="strut"></div>
        <h1>Comment obtenir un logement à Montréal?</h1>
      </div>
		<!-- CONTENT PAGE START HERE -->
     <div class="container jumbotron margin-null">
		
      <div class="question">
      		<div class="vote">
      		<img src="images/upv.png" alt="up"  ng-click="addmain()">
      		<p>
      		{{answer}}
      		</p>
      		<img src="images/down.png" alt ="down"  ng-click="downmain()">
      		</div>
      		
      		<div class ="text">
      			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lobortis feugiat odio in maximus. Fusce at ante libero. Aenean at finibus lorem. Aliquam lobortis posuere dui, quis cursus metus ultrices in. Aliquam luctus mattis mi id condimentum. Etiam malesuada sagittis mi, commodo varius ante venenatis lobortis. Nulla faucibus, turpis at aliquet bibendum, sem velit iaculis velit, vitae fermentum elit elit vitae odio. Cras in pretium dolor. Maecenas bibendum fringilla pulvinar. Nullam sollicitudin, risus et gravida posuere, justo risus feugiat nisi, at feugiat urna lacus et justo. Pellentesque risus erat, auctor vel ultricies quis, consectetur sed mauris. Aliquam eget ex nec purus vulputate ornare. Nulla faucibus est quis feugiat aliquam. Aenean fermentum tortor non lectus semper, ut luctus orci congue.</p>

				<p>Fusce risus quam, euismod eu dapibus vel, viverra nec leo. Praesent posuere, eros a efficitur scelerisque, lorem sem fringilla nibh, vel suscipit leo mi eget neque. Duis laoreet, tellus eget egestas dictum, purus risus pellentesque augue, sit amet consectetur diam nunc sed nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras eu eleifend quam. In hac habitasse platea dictumst. Quisque molestie, magna nec mollis mattis, diam lorem varius tortor, in pulvinar tellus sem ac lectus. Maecenas in nunc ante.</p>

				<div class="author"><p><b>Author:</b> Thierry</p>	<p><b>Date: </b>24/12/2015 22:02:10</p> <a href="#" class="post-tag" title="tag" rel="tag">Montreal</a> <a href="#" class="post-tag" title="tag" rel="tag">Canada</a><a href="#" class="post-tag" title="tag" rel="tag">Logement</a></div>
      		</div>
      </div>

      <div ng-repeat="post in posts | orderBy:'-upvotes'" class="answer">
      
          <div class="vote">
      		<img src="images/upv.png" alt="up"  ng-click="incrementUpvotes(post)">
      		<p>
      		 {{post.upvotes}}
      		</p>
      		<img src="images/down.png" alt ="down"  ng-click="downVotes(post)">
      		</div>
       
        <div class="text">
        <h3>
         {{post.title}}
        </h3>
        <p>
        {{post.content}}
        </p>

        <div class="author"><p><b>Author:</b> Hugo</p>	<p><b>Date: </b>24/12/2015 22:02:10</p></div>
      </div>


       
     </div>
      <form ng-submit="addPost()" class="form_topic">
        <h3>Add a new post</h3>
        <div>
          <input type="text" placeholder="Title" ng-model="title"/>
        </div>
        <div>
          <textarea ng-model="content"></textarea>
         </div>
        <button type="submit" class="btn btn-primary sub">Post</button>
       
      </form>

		<!-- Premier article -->
			
	</div>
</div>

		<!-- CONTENT PAGE END HERE -->
		
		<!-- /container -->
		<script src="./js/barreNavigation/classie.js"></script>
		<script src="./js/barreNavigation/gnmenu.js"></script>
		<script>
			new gnMenu(document.getElementById('gn-menu'));
		</script>
		<script type="text/javascript"
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>



</body>
</html>